.itemContainer {
    display: inline-block;
    margin: 30px;
    width: 400px;
    height: 420px;
    border-radius: 20px;
    text-align: center;
    background-color: #252525;
}

img {
    margin-top: 30px;
    border-radius: 20px;
    width: 250px;
}

.songTitle {
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    word-wrap: break-word;
    text-align: center;
}

.artist {
    font-size: 15px;
    color: #a6a6a6;
}

.artist:hover {
    font-size: 15px;
    color: #ffffff;
}

.songList {
    display: inline-block;
}

.selectButton {
    margin-top: 7px;
    background-color: #1ed760;
    border: 1px solid #010000;
    color: #010000;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
}

.selectButton:hover {
    margin-top: 7px;
    background-color: #010000;
    border: 1px solid #1ed760;
    color: #1ed760;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
}